<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.pedjaapps.kerneltuner"
    android:installLocation="internalOnly"
    android:versionCode="20150410"
    android:versionName="1.0.1.8" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--<meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />-->

        <activity
            android:name=".ui.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.KT" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TaskManager"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/tm"
            android:label="@string/title_task_manager">
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.TM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".linpack.Tester"
            android:icon="@drawable/ic_launcher"
            android:label="Linpack" >
        </activity>
        <activity
            android:name=".ui.TaskManagerDetailActivity"
            android:label="@string/process_details"
            android:parentActivityName=".ui.TaskManager" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.TaskManager" />
        </activity>
        <activity
            android:name=".ui.SysCtlActivity"
            android:icon="@drawable/sysctl"
            android:label="@string/title_sysctl" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.SYSCTL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BuildpropEditor"
            android:icon="@drawable/build"
            android:label="@string/title_build" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.BUILD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Preferences"
            android:icon="@drawable/settings"
            android:label="@string/title_preferences" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.KT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.StartupReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.StartupService"
            android:exported="true" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.StartupService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.Gpu"
            android:icon="@drawable/gpu"
            android:label="@string/title_gpu"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.GPU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GpuActivityQNew"
            android:icon="@drawable/gpu"
            android:label="@string/title_gpu" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.GPU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GpuSGX540"
            android:icon="@drawable/gpu"
            android:label="@string/title_gpu"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.GPU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Mpdecision"
            android:icon="@drawable/dual"
            android:label="@string/title_mpdecision" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.MPDECISION_NEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Thermald"
            android:icon="@drawable/temp"
            android:label="@string/title_thermald" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.THERMAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.About"
            android:icon="@drawable/about"
            android:label="@string/title_about" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.About" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.SystemInfoActivity"
            android:icon="@drawable/ic_menu_info_details"
            android:label="@string/info"
			android:theme="@style/AppTheme.NoAb">
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.SystemInfo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CPUActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_cpu"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.CPU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity
            android:name=".ui.VoltageActivity1"
            android:icon="@drawable/voltage"
            android:label="@string/title_voltage" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.VOLTAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.VoltageActivity"
            android:icon="@drawable/voltage"
            android:label="@string/title_voltage" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.VOLTAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.VoltageActivityTegra"
            android:icon="@drawable/voltage"
            android:label="@string/title_voltage" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.VOLTAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TISActivity"
            android:icon="@drawable/times"
            android:label="@string/title_tis" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.TIMES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GovernorActivity"
            android:icon="@drawable/dual"
            android:label="@string/title_governor" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.GOVERNOR_SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Reboot"
            android:icon="@drawable/ic_launcher"
            android:label="@string/reboot" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.REBOOT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.OOM"
            android:icon="@drawable/oom"
            android:label="@string/oom"
            android:theme="@style/Theme.Dialog.NoTitleBar.Light" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.OOM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SDScannerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/sd"
            android:label="@string/title_sd"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.SD_ANALYZER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".filemanager.FMActivity"
            android:icon="@drawable/fm_folder"
            android:label="@string/file_manager">
        </activity>

        <activity
            android:name=".appmanager.ApplicationManagerActivity"
            android:label="@string/application_manager">
        </activity>

        <receiver android:name=".receiver.PackageChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <activity
            android:name=".ui.LogCat"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/log"
            android:label="@string/title_log"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="rs.pedjaapps.kerneltuner.LOGCAT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="dfda65c0dfc9a63025b8d6e98dc98ce082190d2b" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name=".ui.MiscTweaksActivity"
            android:label="@string/title_activity_misc_tweaks"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.pedjaapps.kerneltuner.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.NetworkManagerActivity"
            android:label="@string/title_activity_network_manager"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.pedjaapps.kerneltuner.ui.MainActivity" />
        </activity>
        <activity
            android:name="siir.es.adbWireless.ADBWirelessActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/adb_wireless" >
            
        </activity>
        <activity android:name="siir.es.adbWireless.ManagePreferences" >
        </activity>
		
		<activity
            android:label="@string/linpack"
            android:name="rs.pedjaapps.linpack.LinpackMainActivity">
           
        </activity>

        <receiver android:name="siir.es.adbWireless.TrackShutdown" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="siir.es.adbWireless.adbWidgetProvider"
            android:enabled="true"
			android:label="@string/adb_wireless">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="siir.es.adbwireless.widget_update" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/adb_appwidget_info" />
        </receiver>
    </application>

</manifest>
