<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="rs.pedjaapps.KernelTuner"
	android:installLocation="internalOnly"
   xmlns:tools="http://schemas.android.com/tools"
android:versionCode="38"
android:versionName="3.2">
	
	
<uses-sdk android:minSdkVersion="9"
    android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_LOGS" />
    
	<supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    
    
	<application android:label="@string/app_name" 
		android:icon="@drawable/ic_launcher"
		
        android:hardwareAccelerated="true"
		android:theme="@style/Theme.Locale.Dark"
        android:uiOptions="splitActionBarWhenNarrow"
		>
    <activity android:name="rs.pedjaapps.KernelTuner.KernelTuner"
    android:icon="@drawable/ic_launcher"
	android:label="@string/app_name"  android:windowSoftInputMode="adjustResize" 
	>
<intent-filter>
<action android:name="android.intent.action.MAIN" />
<category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
<activity
        android:name=".Preferences"
        android:label="@string/title_preferences"
        android:icon="@drawable/misc"
       >
</activity>

<receiver android:name="StartupReceiver">
<intent-filter>
<action
android:name="android.intent.action.BOOT_COMPLETED" />
<category android:name="android.intent.category.HOME" />
</intent-filter>
</receiver>
<service android:name=".StartupService">
<intent-filter>
<action
android:name="rs.pedjaapps.KernelTuner.StartupService" />
</intent-filter>
</service>
<receiver android:name=".AppWidget"
android:label="Kernel Tuner 2x1"
android:icon="@drawable/ic_launcher">
<intent-filter>
<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
<action android:name="rs.pedjaapps.KernelTuner.AppWidget.ACTION_CLICK" />
    </intent-filter>
<meta-data
android:name="android.appwidget.provider"
android:resource="@xml/widget_provider_2x1" />
</receiver>

<receiver android:name=".AppWidgetBig"
android:label="Kernel Tuner 4x4"
android:icon="@drawable/ic_launcher">
<intent-filter>
<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
<action android:name="rs.pedjaapps.KernelTuner.AppWidget.ACTION_CLICK" />
    </intent-filter>
<meta-data
android:name="android.appwidget.provider"
android:resource="@xml/widget_provider_4x4" />
</receiver>
<activity android:name=".Gpu"   android:label="@string/title_gpu" android:theme="@style/Theme.TransparentNoTitle" android:icon="@drawable/gpu"></activity>
<activity android:name=".MiscTweaks"  android:label="@string/title_misc" android:icon="@drawable/misc"></activity>
<activity android:name=".Mpdecision"  android:label="@string/title_mpdecision" android:icon="@drawable/dual"></activity>
<activity android:name=".Thermald"  android:label="@string/title_thermald" android:icon="@drawable/temp"></activity>

<activity android:name=".About"  android:label="@string/title_about" android:icon="@drawable/about"></activity>
<activity android:name=".Changelog"  android:label="@string/title_changelog" android:theme="@style/Theme.TransparentDark"  android:icon="@drawable/ic_menu_recent_history"></activity>
<activity android:name=".CompatibilityCheck" android:label="@string/title_check" android:theme="@style/Theme.TransparentNoTitle" android:icon="@drawable/ic_menu_help"></activity>
		<activity android:name=".Profiles" android:label="@string/title_profiles" android:icon="@drawable/ic_menu_cc"  android:theme="@style/Theme.Locale.Dark"></activity>
<activity android:name=".ProfileEditor" android:label="@string/activity_title_profile_editor" android:icon="@drawable/ic_menu_edit"></activity><!-- android:theme="@android:style/Theme.Holo.Dialog -->
<activity android:name=".Swap" android:label="@string/swap" android:icon="@drawable/swap" ></activity>

<activity android:name=".SystemInfo" android:label="@string/info" android:icon="@drawable/ic_menu_info_details" ></activity>
<activity android:name=".CPUActivity" android:label="@string/title_cpu" android:icon="@drawable/ic_launcher" android:screenOrientation="portrait" ></activity>
<activity android:name=".VoltageActivity" android:label="@string/title_voltage" android:icon="@drawable/voltage"  ></activity>
<activity android:name=".TISActivity" android:label="@string/title_tis" android:icon="@drawable/times" ></activity>
<activity android:name=".GovernorActivity" android:label="@string/title_governor" android:icon="@drawable/dual" ></activity>

		<activity
            android:name=".ui.EditActivity"
            android:exported="true"
            android:icon="@drawable/ic_locale_plugin"
            android:label="@string/plugin_name"
            android:theme="@style/Theme.Locale.Dark"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize" 
            tools:ignore="ExportedActivity">

            <!-- this Intent filter allows the plug-in to be discovered by Locale -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <!--
		This is the "fire" BroadcastReceiver. Note that Locale will reject plug-in BroadcastReceivers for the following reasons:
		- The BroadcastReceiver isn't exported (e.g. android:exported="false")
		- The BroadcastReceiver isn't enabled (e.g. android:enabled="false")
		- The BroadcastReceiver requires permissions not available to Locale
		- There are multiple BroadcastReceivers for com.twofortyfouram.locale.intent.action.FIRE_SETTING
        -->
        <receiver
            android:name=".receiver.FireReceiver"
            android:exported="true"
            android:process=":background" tools:ignore="ExportedReceiver">

            <!-- this Intent filter allows the plug-in to discovered by Locale -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

<service android:name=".WidgetUpdateService"></service>
<service android:name=".WidgetUpdateServiceBig"></service>

  <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
</application>
</manifest>
