<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rs.pedjaapps.KernelTuner"
    android:installLocation="internalOnly"
    android:versionCode="611032013"
    android:versionName="4.4.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
   
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/IndicatorLight" >

         <activity android:name="org.acra.CrashReportDialog"
        			android:theme="@style/Theme.Sherlock.Light.Dialog.NoTitleBar"
        			android:launchMode="singleInstance"
        			android:excludeFromRecents="true"
       			android:finishOnTaskLaunch="true" />
        
        <!-- android:hardwareAccelerated="true" -->
        <activity
            android:name=".ui.KernelTuner"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
			android:theme="@style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:name=".ui.TaskManager"
            android:icon="@drawable/tm"
            android:label="Task Manager"
            >
        </activity>
		<activity
            android:name=".ui.SysCtl"
            android:icon="@drawable/sysctl"
            android:label="SysCtl"
		>
        </activity>
		<activity
            android:name=".ui.BuildpropEditor"
            android:icon="@drawable/build"
            android:label="Build.prop Editor"
			android:uiOptions="splitActionBarWhenNarrow"
		>
        </activity>
        <activity
            android:name=".ui.Preferences"
            android:exported="true"
            android:icon="@drawable/settings"
            android:label="@string/title_preferences"
            android:theme="@style/IndicatorLight" >
        </activity>

        <receiver
            android:name=".receiver.StartupReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.StartupService"
            android:exported="false" >
            <intent-filter>
                <action android:name="rs.pedjaapps.KernelTuner.StartupService" />
            </intent-filter>
        </service>
        
        <receiver
            android:name=".receiver.AppWidgetSummary"
            android:icon="@drawable/ic_launcher"
            android:label="Kernel Tuner Summary" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="rs.pedjaapps.KernelTuner.receiver.AppWidgetBattery.ACTION_CLICK" />
            	<action android:name="rs.pedjaapps.KernelTuner.receivers.AppWidgetBattery.ACTION_WIDGET_REFRESH"/>
                
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_summary" />
        </receiver>
        
<receiver
            android:name=".receiver.WidgetToggle"
            android:icon="@drawable/ic_launcher"
            android:label="Kernel Tuner Toggle" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="rs.pedjaapps.KernelTuner.receiver.AppWidget.ACTION_CLICK" />
           		<action android:name="rs.pedjaapps.KernelTuner.receivers.WidgetToggle.ACTION_WIDGET_TOGGLE_CPU1"/>
           		<action android:name="rs.pedjaapps.KernelTuner.receivers.WidgetToggle.ACTION_WIDGET_TOGGLE_CPU2"/>
           		<action android:name="rs.pedjaapps.KernelTuner.receivers.WidgetToggle.ACTION_WIDGET_TOGGLE_CPU3"/>
                <action android:name="rs.pedjaapps.KernelTuner.receivers.WidgetToggle.ACTION_WIDGET_REFRESH"/>
                
                </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_toggle" />
        </receiver>
        <receiver
            android:name=".receiver.AppWidgetMem"
            android:icon="@drawable/ic_launcher"
            android:label="Kernel Tuner Memory Info" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="rs.pedjaapps.KernelTuner.receiver.AppWidgetMem.ACTION_CLICK" />
            <action android:name="rs.pedjaapps.KernelTuner.receivers.AppWidgetMem.ACTION_WIDGET_REFRESH"/>
                
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_mem" />
        </receiver>
        <receiver
            android:name=".receiver.AppWidgetBattery"
            android:icon="@drawable/ic_launcher"
            android:label="Kernel Tuner Battery" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="rs.pedjaapps.KernelTuner.receiver.AppWidgetBattery.ACTION_CLICK" />
            <action android:name="rs.pedjaapps.KernelTuner.receivers.AppWidgetBattery.ACTION_WIDGET_REFRESH"/>
                
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_battery" />
        </receiver>
        <receiver
            android:name=".receiver.AppWidget"
            android:icon="@drawable/ic_launcher"
            android:label="Kernel Tuner 2x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="rs.pedjaapps.KernelTuner.receiver.AppWidget.ACTION_CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_2x1" />
        </receiver>
        <receiver
            android:name=".receiver.AppWidgetBig"
            android:icon="@drawable/ic_launcher"
            android:label="Kernel Tuner 4x4" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="rs.pedjaapps.KernelTuner.receiver.AppWidgetBig.ACTION_CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_4x4" />
        </receiver>

        <activity
            android:name=".ui.Gpu"
            android:exported="true"
            android:icon="@drawable/gpu"
            android:label="@string/title_gpu"
            android:theme="@style/Theme.Sherlock.Light.Dialog.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.MiscTweaks"
            android:exported="true"
            android:icon="@drawable/misc"
            android:label="@string/title_misc"
            android:theme="@style/SwitchCompatAndSherlockLight"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".ui.Mpdecision"
            android:exported="true"
            android:icon="@drawable/dual"
            android:label="@string/title_mpdecision"
            android:theme="@style/SwitchCompatAndSherlockLight"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".ui.MpdecisionNew"
            android:exported="true"
            android:icon="@drawable/dual"
            android:label="@string/title_mpdecision"
            android:theme="@style/SwitchCompatAndSherlockLight"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".ui.Thermald"
            android:exported="true"
            android:icon="@drawable/temp"
            android:label="@string/title_thermald"
            android:theme="@style/IndicatorLight"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".ui.About"
            android:icon="@drawable/about"
            android:label="@string/title_about"
            android:theme="@style/Theme.Sherlock.Light.Dialog.NoTitleBar" >
            <intent-filter>
                <action android:name="rs.pedjaapps.KernelTuner.About" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Changelog"
            android:icon="@drawable/changelog"
            android:label="@string/title_changelog"
            android:theme="@style/Theme.TransparentDark" >
            <intent-filter>
                <action android:name="rs.pedjaapps.KernelTuner.Changelog" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CompatibilityCheck"
            android:label="@string/title_check"
            android:theme="@style/Theme.TransparentNoTitle" >
        </activity>
        <activity
            android:name=".ui.Profiles"
            android:exported="true"
            android:icon="@drawable/ic_menu_cc"
            android:label="@string/title_profiles"
            android:theme="@style/IndicatorLight"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".ui.ProfileEditor"
            android:icon="@drawable/edit_dark"
            android:label="@string/activity_title_profile_editor"
            android:theme="@style/IndicatorLight"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".ui.Swap"
            android:exported="true"
            android:icon="@drawable/swap"
            android:label="@string/swap"
            android:theme="@style/IndicatorLight" >
        </activity>
        <activity
            android:name=".ui.SystemInfo"
            android:exported="true"
            android:icon="@drawable/ic_menu_info_details"
            android:label="@string/info"
            android:theme="@style/IndicatorLight" >
        </activity>
        <activity
            android:name=".ui.CPUActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_cpu"
            android:screenOrientation="portrait"
            android:theme="@style/IndicatorLight" >
        </activity>
        <activity
            android:name=".ui.CPUActivityOld"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_cpu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.Dialog.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.VoltageActivity"
            android:exported="true"
            android:icon="@drawable/voltage"
            android:label="@string/title_voltage"
            android:theme="@style/IndicatorLight" >
        </activity>
        <activity
            android:name=".ui.TISActivity"
            android:exported="true"
            android:icon="@drawable/times"
            android:label="@string/title_tis"
            android:theme="@style/IndicatorLight" >
        </activity>
        <activity
            android:name=".ui.GovernorActivity"
            android:exported="true"
            android:icon="@drawable/dual"
            android:label="@string/title_governor"
            android:theme="@style/IndicatorLight" >
        </activity>
        <activity
            android:name=".ui.Reboot"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="Reboot" >
        </activity>
        <activity
            android:name=".ui.OOM"
            android:exported="true"
            android:icon="@drawable/oom"
            android:label="OOM"
            android:theme="@style/Theme.Dialog.NoTitleBar.Light" >
        </activity>
        <activity
            android:name=".ui.SDScannerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:icon="@drawable/sd"
            android:label="SD Card Analyzer"
            android:screenOrientation="portrait"
            android:theme="@style/IndicatorLight" >
        </activity>
        <activity
            android:name=".ui.SDScannerActivityList"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:icon="@drawable/sd"
            android:label="SD Card Analyzer"
            android:screenOrientation="portrait"
            android:theme="@style/IndicatorLight" >
        </activity>
        <activity
            android:name=".ui.SDScannerConfigActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:icon="@drawable/sd"
            android:label="SD Card Analyzer"
            android:screenOrientation="portrait"
            android:theme="@style/SwitchCompatAndSherlockLight" >
        </activity>
        <activity
            android:name=".ui.TISActivityChart"
            android:exported="true"
            android:icon="@drawable/times"
            android:label="@string/title_tis"
            android:theme="@style/IndicatorLight" >
        </activity>
        <activity
            android:name=".ui.FMActivity"
            android:icon="@drawable/folder"
            android:theme="@style/IndicatorLight"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        
        <activity
            android:name=".ui.EditActivity"
            android:exported="true"
            android:icon="@drawable/ic_locale_plugin"
            android:label="@string/plugin_name"
            android:theme="@style/Theme.Locale.Light"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="ExportedActivity" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.FireReceiver"
            android:exported="true"
            android:process=":background"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".shortcuts.Shortcuts"
            android:label="Kernel Tuner - Shortcuts"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shortcuts.CPUShortcut"
            android:label="Kernel Tuner - Shortcuts" >
        </activity>
        <activity
            android:name=".shortcuts.GovernorShortcut"
            android:label="Kernel Tuner - Shortcuts" >
        </activity>
        <activity
            android:name=".shortcuts.GPUShortcut"
            android:label="Kernel Tuner - Shortcuts" >
        </activity>
        <activity
            android:name=".shortcuts.InfoShortcut"
            android:label="Kernel Tuner - Shortcuts" >
        </activity>
        <activity
            android:name=".shortcuts.MiscShortcut"
            android:label="Kernel Tuner - Shortcuts" >
        </activity>
        <activity
            android:name=".shortcuts.MpdecisionShortcut"
            android:label="Kernel Tuner - Shortcuts" >
        </activity>
        <activity
            android:name=".shortcuts.ProfilesShortcut"
            android:label="Kernel Tuner - Shortcuts" >
        </activity>
        <activity
            android:name=".shortcuts.RebootShortcut"
            android:label="Kernel Tuner - Shortcuts" >
        </activity>
        <activity
            android:name=".shortcuts.SettingsShortcut"
            android:label="Kernel Tuner - Shortcuts" >
        </activity>
        <activity
            android:name=".shortcuts.SwapShortcut"
            android:label="Kernel Tuner - Shortcuts" >
        </activity>
        <activity
            android:name=".shortcuts.ThermaldShortcut"
            android:label="Kernel Tuner - Shortcuts" >
        </activity>
        <activity
            android:name=".shortcuts.TISShortcut"
            android:label="Kernel Tuner - Shortcuts" >
        </activity>
        <activity
            android:name=".shortcuts.VoltageShortcut"
            android:label="Kernel Tuner - Shortcuts" >
        </activity>
        <activity
            android:name=".shortcuts.OOMShortcut"
            android:label="Kernel Tuner - Shortcuts" >
        </activity>

        <service android:name=".services.WidgetUpdateService" >
        </service>
        <service android:name=".services.WidgetSummaryUpdateService" >
        </service>
        <service android:name=".services.WidgetUpdateServiceBig" >
        </service>
        <service
            android:name=".services.NotificationService"
            android:exported="false"
            android:process=":background" >
            <intent-filter>
                <action android:name="rs.pedjaapps.KernelTuner.NotificationService" />
            </intent-filter>
        </service>

        <activity
            android:name="rs.pedjaapps.KernelTuner.ui.BackupRestore"
            android:label="Backup/Restore"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="rs.pedjaapps.KernelTuner.ui.BackupRestore" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>
