<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="rs.pedjaapps.KernelTuner"
android:versionCode="26"
android:versionName="2.3.2">
<uses-sdk android:minSdkVersion="9"
    android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

	<application android:label="Kernel Tuner"  android:icon="@drawable/dual_on">
<activity android:name="rs.pedjaapps.KernelTuner.KernelTuner"
    android:icon="@drawable/dual_on"
	android:label="@string/app_name" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" 
	>
<intent-filter>
<action android:name="android.intent.action.MAIN" />
<category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
<activity
        android:name=".Preferences"
        android:label="Preferences"
        android:icon="@drawable/misc"
        android:screenOrientation="portrait">
</activity>
<activity
        android:name=".OC"
	android:label="CPU Tweaks" android:screenOrientation="portrait" android:icon="@drawable/icon">
</activity>
		<activity
			android:name=".OC_single"
			android:label="CPU Tweaks" android:screenOrientation="portrait"  android:icon="@drawable/icon">
		</activity>	
		<activity
			android:name=".OC_quad"
			android:label="CPU Tweaks" android:screenOrientation="portrait"  android:icon="@drawable/icon">
		</activity>	
<receiver android:name="StartupReceiver">
<intent-filter>
<action
android:name="android.intent.action.BOOT_COMPLETED" />
<category android:name="android.intent.category.HOME" />
</intent-filter>
</receiver>
<service android:name=".StartupService">
<intent-filter>
<action
android:name="rs.pedjaapps.KernelTuner.StartupService" />
</intent-filter>
</service>
<receiver android:name=".AppWidget"
android:label="Kernel Tuner 2x1"
android:icon="@drawable/dual_on">
<intent-filter>
<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
<action android:name="rs.pedjaapps.KernelTuner.AppWidget.ACTION_CLICK" />
    </intent-filter>
<meta-data
android:name="android.appwidget.provider"
android:resource="@xml/widget_provider_2x1" />
</receiver>

<receiver android:name=".AppWidgetBig"
android:label="Kernel Tuner 4x4"
android:icon="@drawable/dual_on">
<intent-filter>
<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
<action android:name="rs.pedjaapps.KernelTuner.AppWidget.ACTION_CLICK" />
    </intent-filter>
<meta-data
android:name="android.appwidget.provider"
android:resource="@xml/widget_provider_4x4" />
</receiver>
<activity android:name=".gpu" android:screenOrientation="portrait"  android:label="GPU Tweaks" android:theme="@style/Theme.Transparent" android:icon="@drawable/gpu"></activity>
<activity android:name=".miscTweaks" android:screenOrientation="portrait" android:label="Misc Tweaks" android:icon="@drawable/misc"></activity>
<activity android:name=".cpuTimes" android:screenOrientation="portrait" android:label="CPU Times - CPU0" android:icon="@drawable/times"></activity>
<activity android:name=".uv" android:screenOrientation="portrait" android:label="UV" android:icon="@drawable/voltage"></activity>
<activity android:name=".cpuStatsTab" android:screenOrientation="portrait" android:label="CPU Times" android:icon="@drawable/times"></activity>
<activity android:name=".cpuTimesCpu1" android:screenOrientation="portrait" android:label="CPU Times" android:icon="@drawable/times"></activity>
<activity android:name=".cpuTimesCpu2" android:screenOrientation="portrait" android:label="CPU Times" android:icon="@drawable/times"></activity>
<activity android:name=".cpuTimesCpu3" android:screenOrientation="portrait" android:label="CPU Times" android:icon="@drawable/times"></activity>
<activity android:name=".notFoundActivity" android:screenOrientation="portrait" android:label="Unsupported" android:icon="@drawable/err"></activity>
<activity android:name=".mpdecision" android:screenOrientation="portrait" android:label="mpdecision" android:icon="@drawable/icon"></activity>
<activity android:name=".thermald" android:screenOrientation="portrait" android:label="thermald" android:icon="@drawable/icon"></activity>

<activity android:name=".about" android:screenOrientation="portrait" android:label="About" android:icon="@drawable/tux_gandalf"></activity>
<activity android:name=".changelog" android:screenOrientation="portrait" android:label="Changelog" android:theme="@style/Theme.TransparentDark"  android:icon="@drawable/icon"></activity>
<activity android:name=".anthraxTweaks" android:label="Anthrax Tweaks" android:icon="@drawable/icon"></activity>
<activity android:name=".check" android:screenOrientation="portrait" android:label="Check" android:theme="@style/Theme.TransparentNoTitle" android:icon="@drawable/icon"></activity>
<activity android:name=".profiles" android:label="Profiles" android:icon="@drawable/ic_menu_cc"></activity>
<activity android:name=".ProfileEditor" android:label="Profile Editor" android:icon="@drawable/ic_menu_edit" android:theme="@style/Theme.Transparent"></activity>
<service android:name=".WidgetUpdateService"></service>
<service android:name=".WidgetUpdateServiceBig"></service>
<!--  <service
  android:name="TemperatureMonitorService"
  android:process=":temp_mon_service" 
  android:icon="@drawable/icon"
  android:label="TemperatureMonitorService"
  >
</service>-->
  <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
</application>
</manifest>
